.carrinho-card{

display:flex;

flex-direction:column;

gap:15px;

height:100%;

}

.carrinho-card h2{

color:var(--text);

}

.carrinho-card p{

color:var(--text);

display:flex;

flex-direction:column;

gap:5px;

}

.carrinho-card hr{

border:none;

border-top:1px solid var(--border);

}

.carrinho-buttons{

margin-top:auto;

display:flex;

gap:10px;

}