.dashboard{

display:flex;

flex-direction:column;

gap:30px;

padding:10px;

animation:fade .35s ease;

}

@keyframes fade{

from{

opacity:0;

transform:translateY(15px);

}

to{

opacity:1;

transform:none;

}

}