*{

margin:0;
padding:0;
box-sizing:border-box;

}

html,
body,
#root{

height:100%;

}

body{

font-family:
"Segoe UI",
Tahoma,
sans-serif;

background:var(--background);

color:var(--text);

transition:var(--transition);

}

a{

text-decoration:none;

color:inherit;

}

button{

cursor:pointer;

transition:var(--transition);

font-family:inherit;

}

input,
select,
textarea{

background:var(--card);

color:var(--text);

border:1px solid var(--border);

border-radius:10px;

padding:12px;

outline:none;

transition:var(--transition);

}

input:focus,
select:focus,
textarea:focus{

border-color:var(--primary);

}

table{

width:100%;

border-collapse:collapse;

background:var(--card);

color:var(--text);

}

th{

background:var(--primary);

color:white;

padding:16px;

}

td{

padding:16px;

border-bottom:1px solid var(--border);

}

.card,
.modal-box,
.perfil-card,
.cart-card,
.relatorio-card{

background:var(--card);

color:var(--text);

border:1px solid var(--border);

box-shadow:var(--shadow);

border-radius:var(--radius);

transition:var(--transition);

}