:root{

--primary:#2563eb;
--secondary:#1e40af;

--background:#f5f7fb;
--surface:#ffffff;
--card:#ffffff;

--sidebar:#1e293b;
--navbar:#ffffff;

--text:#1f2937;
--text-secondary:#6b7280;

--border:#e5e7eb;

--success:#16a34a;
--warning:#d97706;
--danger:#dc2626;

--shadow:0 5px 15px rgba(0,0,0,.08);

--radius:14px;

--transition:.25s;

--sidebar-width:260px;

}