.usuario-card{

display:flex;

flex-direction:column;

gap:20px;

height:100%;

}


.usuario-header{

display:flex;

justify-content:space-between;

align-items:flex-start;

}


.usuario-header h2{

color:var(--text);

}


.usuario-header p{

color:var(--text-secondary);

}


.usuario-info{

color:var(--text);

}


.usuario-info p{

display:flex;

flex-direction:column;

gap:5px;

}


.usuario-actions{

margin-top:auto;

display:flex;

gap:10px;

}