.slot{

height:70px;

border:none;

border-radius:12px;

cursor:pointer;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

transition:.25s;

font-weight:600;

box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.slot:hover{

transform:scale(1.05);

}

.slot strong{

font-size:20px;

}

.slot span{

font-size:12px;

opacity:.8;

}

.livre{

background:#22c55e;

color:white;

}

.reservado{

background:#eab308;

color:white;

}

.emprestado{

background:#2563eb;

color:white;

}

.manutencao{

background:#ef4444;

color:white;

}

.vazio{

background:#d1d5db;

color:#444;

}