.sidebar{

    width:260px;
    height:100vh;

    background:var(--sidebar);

    color:white;

    display:flex;

    flex-direction:column;

    padding:20px;

    transition:.3s;

}

.sidebar.collapsed{

    width:90px;

}

.top{

    display:flex;

    align-items:center;

    justify-content:space-between;

    margin-bottom:40px;

}

.menu-button{

    width:45px;

    height:45px;

    border:none;

    border-radius:10px;

    background:transparent;

    color:white;

    cursor:pointer;

    font-size:18px;

}

.menu-button:hover{

    background:rgba(255,255,255,.1);

}

.sidebar nav{

    display:flex;

    flex-direction:column;

    gap:10px;

}

.sidebar nav button{

    display:flex;

    align-items:center;

    gap:15px;

    padding:15px;

    border:none;

    background:transparent;

    color:white;

    border-radius:12px;

    cursor:pointer;

    transition:.25s;

    font-size:15px;

}

.sidebar nav button:hover{

    background:var(--primary);

}

.sidebar nav button.active{

    background:var(--primary);

}

.sidebar nav button svg{

    font-size:20px;

    min-width:20px;

}

.footer{

    margin-top:auto;

    opacity:.7;

    text-align:center;

}