.sidebar{

width:var(--sidebar-width);

background:var(--sidebar);

display:flex;

flex-direction:column;

color:white;

min-height:100vh;

}

.logo{

padding:25px;

border-bottom:1px solid rgba(255,255,255,.08);

}

.logo h2{

font-size:24px;

}

.sidebar nav{

display:flex;

flex-direction:column;

margin-top:20px;

flex:1;

}

.sidebar nav a{

display:flex;

align-items:center;

gap:15px;

padding:16px 24px;

color:white;

transition:.2s;

}

.sidebar nav a:hover{

background:rgba(255,255,255,.08);

}

.sidebar nav a.active{

background:var(--primary);

}

.sidebar-user{

margin-top:auto;

padding:20px;

display:flex;

align-items:center;

gap:12px;

border-top:1px solid rgba(255,255,255,.08);

}

.sidebar-user img{

width:46px;

height:46px;

border-radius:50%;

object-fit:cover;

}

.sidebar-user strong{

display:block;

font-size:14px;

color:white;

}

.sidebar-user small{

color:#cbd5e1;

font-size:12px;

}