.card{

    background:var(--surface);

    border-radius:16px;

    padding:25px;

    box-shadow:var(--shadow);

    display:flex;

    align-items:center;

    gap:20px;

    transition:.25s;

    border-top:5px solid var(--primary);

}

.card:hover{

    transform:translateY(-6px);

    box-shadow:var(--shadow-hover);

}

.card-icon{

    width:70px;

    height:70px;

    background:linear-gradient(
        135deg,
        var(--primary),
        #3B82F6
    );

    border-radius:16px;

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

}

.card-info h2{

    font-size:30px;

    color:var(--text);

}

.card-info p{

    margin-top:5px;

    color:var(--text-secondary);

}