.navbar{

height:80px;

background:var(--navbar);

color:var(--text);

display:flex;

justify-content:space-between;

align-items:center;

padding:0 30px;

border-bottom:1px solid var(--border);

}

.navbar h2{

margin:0;

color:var(--text);

}

.navbar small{

color:var(--text-secondary);

}

.navbar-user{

display:flex;

align-items:center;

gap:15px;

}

.navbar-user img{

width:50px;

height:50px;

border-radius:50%;

object-fit:cover;

}

.navbar-user div{

display:flex;

flex-direction:column;

}

.logout-btn{

margin-left:20px;

background:var(--danger);

color:white;

border:none;

padding:10px 15px;

border-radius:10px;

}

.logout-btn:hover{

opacity:.9;

}

.theme-button{

width:42px;

height:42px;

border:none;

border-radius:50%;

background:transparent;

color:var(--text);

font-size:20px;

display:flex;

justify-content:center;

align-items:center;

}

.theme-button:hover{

background:rgba(127,127,127,.15);

}