.slot{

height:85px;

border:none;

border-radius:12px;

cursor:pointer;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

transition:.25s;

font-weight:600;

}

.slot:hover{

transform:scale(1.05);

}

.livre{

background:#22c55e;

color:white;

}

.reservado{

background:#eab308;

color:white;

}

.emprestado{

background:#2563eb;

color:white;

}

.manutencao{

background:#ef4444;

color:white;

}

.vazio{

background:#d4d4d4;

color:#444;

}