.badge{

padding:8px 14px;

border-radius:25px;

font-size:13px;

font-weight:bold;

display:inline-flex;

align-items:center;

}

.green{

background:#22c55e22;

color:#22c55e;

}

.blue{

background:#2563eb22;

color:#2563eb;

}

.yellow{

background:#f59e0b22;

color:#f59e0b;

}

.red{

background:#ef444422;

color:#ef4444;

}