.dashboard-card{

background:var(--card);

border-radius:18px;

padding:22px;

display:flex;

justify-content:space-between;

align-items:center;

box-shadow:0 10px 20px rgba(0,0,0,.06);

transition:.25s;

}

.dashboard-card:hover{

transform:translateY(-3px);

}

.dashboard-card p{

font-size:14px;

color:var(--text-secondary);

margin-bottom:6px;

}

.dashboard-card h2{

font-size:34px;

font-weight:700;

}

.dashboard-icon{

width:58px;

height:58px;

display:flex;

justify-content:center;

align-items:center;

border-radius:16px;

color:white;

font-size:26px;

}