.equipamentos-page{

    display:flex;
    flex-direction:column;
    gap:25px;

}

.equipamentos-header{

    display:flex;
    justify-content:space-between;
    align-items:center;

}

.novo-btn{

    background:var(--primary);

    color:white;

    border:none;

    padding:12px 20px;

    border-radius:10px;

    cursor:pointer;

}

.filtros{

    display:flex;

    gap:15px;

}

.filtros input,
.filtros select{

    padding:12px;

    border:1px solid var(--border);

    border-radius:10px;

}

table{

    width:100%;

    background:var(--surface);

    border-collapse:collapse;

    border-radius:16px;

    overflow:hidden;

}

th{

    background:#F3F4F6;

    text-align:left;

    padding:16px;

}

td{

    padding:16px;

    border-top:1px solid var(--border);

}

.status{

    padding:6px 14px;

    border-radius:999px;

    font-size:13px;

    font-weight:600;

}

.ativo{

    background:#DCFCE7;

    color:#166534;

}

.em-manutenção{

    background:#FEE2E2;

    color:#991B1B;

}

.reservado{

    background:#FEF3C7;

    color:#92400E;

}

.inativo{

    background:#E5E7EB;

    color:#374151;

}