.badge{

padding:8px 14px;

border-radius:20px;

font-size:13px;

font-weight:bold;

display:inline-block;

}

.Disponível{

background:#22c55e22;

color:#22c55e;

}

.Em{

background:#2563eb22;

color:#2563eb;

}

.Manutenção{

background:#f59e0b22;

color:#f59e0b;

}

.Reservado{

background:#ef444422;

color:#ef4444;

}